apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: newsbrief-data
  labels:
    app.kubernetes.io/name: newsbrief
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
