apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: newsbrief-base

labels:
  - pairs:
      app.kubernetes.io/managed-by: argocd
      app.kubernetes.io/part-of: newsbrief
    includeSelectors: false

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
